.icon {
    padding-left: 16px;
}

.icon_edit {
    background-image: url("/CronJobs/themes/default/assets/images/edit.png");
}

.icon_delete {
    background-image: url("/CronJobs/themes/default/assets/images/delete.png");
}

#dialog_frm .static_info {
    padding-left: 70px;
    margin-bottom: 0;
}

#dialog_frm .static_info li {
    list-style: circle;
}

small {
    font-size: 0.9em;
    color: #666666
}

.hint {
    font-variant: small-caps;
    font-size: small;
}

table th.columnMark, table td.columnMark {
    text-align: center;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

table th .columnType, table td.columnType {
    text-align: center;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

table th.columnDate, table td.columnDate {
    text-align: center;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

table th.columnUser, table td.columnUser {
    text-align: center;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

table th.columnCommand, table td.columnCommand {
    text-align: left;
    max-width: 30%;
}

table th.columnStatus, .columnStatus {
    text-align: left;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}

table th.columnActions, table td.columnActions {
    text-align: left;
    width: 1px;
    white-space: nowrap;
    word-wrap: normal;
}
