.icon {
    background-position: left center;
    background-repeat: no-repeat;
    display: inline-block;
    display: -moz-inline-block;
    overflow: hidden;
    height: 16px;
    line-height: 18px;
    padding-left: 20px;
}

.icon_show {
    background-image: url("/CronJobs/themes/default/assets/images/show.png");
}

.icon_edit {
    background-image: url("/CronJobs/themes/default/assets/images/edit.png");
}

.icon_delete {
    background-image: url("/CronJobs/themes/default/assets/images/delete.png");
}

small {
    font-size: 0.9em;
    color: #666666
}

#page {
    overflow: visible;
}
