/*** Style for Calendar plugin ***/

body.calendarmain {
	overflow: hidden;
}

#taskbar a.button-calendar {
	background: url(images/calendar.png) 0px 1px no-repeat;
}

/* hack for IE 6/7 */
* html #taskbar a.button-calendar {
	background-image: url(images/calendar.gif);
}

#main {
	position: absolute;
	clear: both;
	top: 72px;
	left: 0;
	right: 0;
	bottom: 10px;
}

#calendarsidebar {
	position: absolute;
	top: 0px;
	left: 10px;
	bottom: 0;
	width: 230px;
}

#datepicker {
	position: relative;
	top: 42px;
	width: 100%;
}

#datepicker .ui-datepicker {
	width: 97% !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#datepicker .ui-datepicker-activerange a {
	border-color: #c33;
	color: #a22;
}

#datepicker .ui-datepicker-activerange a.ui-state-active {
	color: #fff;
}

#datepicker .ui-priority-secondary {
	opacity: 0.4;
}

#datepicker td.ui-datepicker-week-col {
	cursor: pointer;
}

#calendarsidebartoggle {
	position: absolute;
	left: 244px;
	width: 8px;
	top: 4px;
	bottom: 0;
	background: url(images/toggle.gif) 0 48% no-repeat transparent;
	cursor: pointer;
}

div.sidebarclosed {
	background-position: -8px 48% !important;
}

#calendarsidebartoggle:hover {
	background-color: #ddd;
}

#calendar {
	position: absolute;
	top: 4px;
	left: 256px;
	right: 10px;
	bottom: 0;
}

#print {
	width: 680px;
}

pre {
 font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#calendars {
	position: absolute;
	top: 228px;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #F9F9F9;
	border: 1px solid #999999;
	overflow: hidden;
}

#calendars .boxlistcontent {
	top: 43px;
}

#calendars .listsearchbox {
	padding: 2px 4px;
}

#calendarslist {
	list-style: none;
	margin: 0;
	padding: 0;
}

#attachmentlist li,
#calendarslist li {
	margin: 0;
	padding: 1px;
	display: block;
	background: #fff;
	border-bottom: 1px solid #EBEBEB;
	white-space: nowrap;
	cursor: default;
}

#calendars .treelist li {
	margin: 0;
	padding: 0;
	position: relative;
}

#calendars .treelist ul li:last-child {
	border-bottom: 0;
}

#calendars .treelist li div.folder,
#calendars .treelist li div.calendar {
	position: relative;
	height: 22px;
}

#calendars .treelist li span.calname {
	display: block;
	padding: 0px 30px 2px 2px;
	position: absolute;
	top: 4px;
	left: 38px;
	right: 40px;
	cursor: default;
	background: url(images/calendars.png) right 20px no-repeat;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#calendars .treelist li div.virtual > span.calname {
	color: #aaa;
	left: 20px;
}

#calendars .treelist.flat li span.calname {
	left: 24px;
	right: 22px;
}

#calendars .treelist li span.handle {
	display: inline-block;
	position: absolute;
	top: 5px;
	right: 6px;
	padding: 0;
	width: 12px;
	height: 12px;
	border-radius: 3px;
	font-size: 0.8em;
}

#calendars .treelist li a.subscribed {
	display: inline-block;
	position: absolute;
	top: 2px;
	right: 22px;
	height: 16px;
	width: 16px;
	padding: 0;
	background: url(images/calendars.png) -100px 0 no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	cursor: pointer;
}

#calendars .treelist div:hover > a.subscribed {
	background-position: 0 -126px;
}

#calendars .treelist div.subscribed a.subscribed {
	background-position: 0 -144px;
}

#calendars .treelist li input {
	position: absolute;
	top: 1px;
	left: 18px;
}

#calendars .treelist li div.treetoggle {
	top: -1px;
	left: 1px !important;
}

#calendars .treelist ul li div.treetoggle {
	left: 17px !important;
}

#calendars .treelist ul ul li div.treetoggle {
	left: 33px !important;
}

#calendars .treelist.flat li input {
	left: 4px;
}

#calendars .treelist ul li div.folder,
#calendars .treelist ul li div.calendar {
	margin-left: 16px;
}

#calendars .treelist ul ul li div.folder,
#calendars .treelist ul ul li div.calendar {
	margin-left: 32px;
}

#calendars .treelist ul ul ul li div.folder,
#calendars .treelist ul ul ul li div.calendar {
	margin-left: 48px;
}

#calendars .treelist li.selected {
	background-color: #ccc;
}

#calendars .treelist li.selected > span.calname {
	font-weight: bold;
}

#calendars .treelist div.readonly span.calname {
	background-position: right -20px;
}

#calendars .treelist li.user > div > span.calname {
	background-position: right -38px;
}

#calendarslist li.virtual span.calname {
	color: #666;
}

#calendars .searchresults .boxtitle {
	border-top: 1px solid #aaa;
	margin-bottom: 0;
}

#calfeedurl,
#caldavurl {
	width: 98%;
	background: #fbfbfb;
	padding: 4px;
	margin-bottom: 1em;
	resize: none;
}

#agendalist {
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid #C1DAD7;
	display: none;
}

#agendalist table {
	width: 100%;
}

#agendalist td,
#agendalist th {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

#agendalist tr {
	vertical-align: top;
}

#agendalist th {
	font-weight: bold;
}

#calendartoolbar {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 35px;
}

#calendartoolbar a {
	padding-right: 10px;
}

#calendartoolbar a.button,
#calendartoolbar a.buttonPas {
	display: block;
	float: left;
	width: 32px;
	height: 32px;
	padding: 0;
	margin-right: 10px;
	overflow: hidden;
	background: url(images/toolbar.png) 0 0 no-repeat transparent;
	opacity: 0.99; /* this is needed to make buttons appear correctly in Chrome */
}

#calendartoolbar a.buttonPas {
	opacity: 0.35;
}

#calendartoolbar a.addeventSel {
	background-position: 0 -32px;
}

#calendartoolbar a.delete {
  background-position: -32px 0;
}

#calendartoolbar a.deleteSel {
  background-position: -32px -32px;
}

#calendartoolbar a.print {
  background-position: -64px 0;
}

#calendartoolbar a.printSel {
  background-position: -64px -32px;
}

#calendartoolbar a.import {
	background-position: -168px 0;
}

#calendartoolbar a.importSel {
	background-position: -168px -32px;
}

#calendartoolbar a.export {
	background-position: -128px 0;
}

#calendartoolbar a.exportSel {
	background-position: -128px -32px;
}

.calendarmain #quicksearchbar {
	top: 80px;
	right: 4px;
}

#eventedit.uidialog,
.calendarmain div.uidialog {
	display: none;
}

#user {
	position: absolute;
	top: 10px;
	right: 100px;
	left: 100px;
	text-align: center;
}

a.morelink {
	font-size: 90%;
	color: #C33;
	text-decoration: none;
}

a.morelink:hover {
	text-decoration: underline;
}

a.miniColors-trigger {
	margin-top: -3px;
}

#attachmentcontainer {
	position: absolute;
	top: 80px;
	left: 20px;
	right: 20px;
	bottom: 20px;
}

#attachmentframe {
	width: 100%;
	height: 100%;
	border: 1px solid #999999;
	background-color: #F9F9F9;
}

#partheader {
	position: absolute;
	top: 20px;
	left: 220px;
	right: 20px;
	height: 40px;
}

#partheader table td {
	padding-left: 2px;
	padding-right: 4px;
	vertical-align: middle;
	font-size: 11px;
}

#partheader table td.title {
	color: #666;
	font-weight: bold;
}

.attachments-list ul {
	margin: 0px;
	padding: 0px;
	list-style-image: none;
	list-style-type: none;
}

.attachments-list ul li {
	height: 18px;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 8px;
	white-space: nowrap;
}

.attachments-list ul li img {
	padding-right: 2px;
	vertical-align: middle;
}

.attachments-list ul li a {
	text-decoration: none;
}

.attachments-list ul li a:hover {
	text-decoration: underline;
}

#attachmentlist {
	margin: 0 -0.8em;
}

#attachmentlist li {
	padding: 2px 2px 3px 0.8em;
}

#eventshow .attachments-list ul li {
	float: left;
}

#edit-attachments-form {
	padding-top: 1.2em;
}

#edit-attachments-form .formbuttons {
	margin: 0.5em 0;
}

.event-attendees span.attendee {
	padding-right: 18px;
	margin-right: 0.5em;
	background: url(images/attendee-status.gif) right 0 no-repeat;
}

.event-attendees span.attendee a.mailtolink {
	text-decoration: none;
	white-space: nowrap;
}

.event-attendees span.attendee a.mailtolink:hover {
	text-decoration: underline;
}

.event-attendees span.accepted {
	background-position: right -20px;
}

.event-attendees span.declined {
	background-position: right -40px;
}

.event-attendees span.tentative {
	background-position: right -60px;
}

.event-attendees span.delegated {
	background-position: right -180px;
}

.event-attendees span.organizer {
	background-position: right -80px;
}

#all-event-attendees span.attendee {
	display: block;
	margin-bottom: 4px;
	padding-bottom: 3px;
	border-bottom: 1px solid #ddd;
}

/* jQuery UI overrides */

.calendarmain .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: left;
}

#eventshow h1 {
	font-size: 20px;
	margin: 0.1em 0 0.4em 0;
}

#eventshow label,
#eventshow h5.label {
	font-weight: normal;
	font-size: 0.9em;
	color: #999;
	margin: 0 0 0.2em 0;
}

#eventshow {
	margin: 0 -0.2em;
}

#event-status-badge {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

#event-status-badge span {
	display: none;
	text-transform: uppercase;
	width: 150px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: -20px;
	top: 35px;
	padding-left: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	color: #fff;
	box-shadow: 1px 1px 2px #ccc, -1px -1px 2px #ccc;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#eventshow.status-cancelled #event-status-badge span {
	background: url(images/badge.png) 26px -24px no-repeat #cc0000;
	display: block;
}

#eventshow.sensitivity-private #event-status-badge span {
	background: url(images/badge.png) 40px -52px no-repeat #0066ff;
	display: block;
}

#eventshow.sensitivity-confidential #event-status-badge span {
	background: url(images/badge.png) 20px 2px no-repeat #cc0000;
	display: block;
}

#eventshow.status-cancelled #event-title,
#eventshow.sensitivity-private #event-title,
#eventshow.sensitivity-confidential #event-title {
	margin-right: 80px;
}

#eventshow div.event-line {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

#eventshow #event-url .event-text {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#event-rsvp .itip-reply-controls {
	margin-top: 0.5em;
}

#eventshow .itip-reply-controls label {
	font-size: 1em;
	color: #333;
}

#event-partstat .changersvp {
	cursor: pointer;
	color: #333;
	text-decoration: none;
}

#event-partstat:hover .changersvp {
	text-decoration: underline;
}

#event-partstat .changersvp.accepted {
	color: #589b1e;
}

#event-partstat .changersvp.tentative {
	color: #f0bb1d;
}

#event-partstat .changersvp.declined {
	color: #ea0000;
}

#event-partstat .changersvp.delegated {
	color: #018be9;
}

#eventedit {
	position: relative;
	padding: 0.5em 0.1em;
}

#eventedit input.text,
#eventedit textarea {
	width: 97%;
}

#eventtabs {
	position: relative;
	padding: 0;
	border: 0;
	border-radius: 0;
}

div.form-section,
#eventshow div.event-section,
#eventtabs div.event-section {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
}

#eventtabs .tabsbar {
	position: absolute;
	top: 0;
}

#eventtabs .ui-tabs-panel {
	padding: 1em 0.8em;
	border: 1px solid #aaa;
	border-width: 0 1px 1px 1px;
}

#eventtabs .ui-tabs-nav {
	background: none;
	padding: 0;
	border-width: 0 0 1px 0;
	border-radius: 0;
}

#eventtabs .border-after {
	padding-bottom: 0.6em;
	margin-bottom: 0.6em;
	border-bottom: 1px solid #999;
}

#eventshow label,
#eventedit label,
.form-section label {
	display: inline-block;
	min-width: 7em;
	padding-right: 0.5em;
}

#eventedit .formtable td.label {
	min-width: 6em;
}

td.topalign {
	vertical-align: top;
}

#eventedit .edit-alarm-item {
	position: relative;
	padding-right: 30px;
	margin-bottom: 2px;
}

#eventedit .edit-alarm-buttons {
	position: absolute;
	top: 2px;
	right: 0;
}

#eventedit .edit-alarm-buttons a.iconlink {
	display: none;
	width: 18px;
	height: 17px;
	padding: 1px;
	text-indent: -5000px;
	overflow: hidden;
}

#eventedit .edit-alarm-buttons a.add-alarm {
	background: url(images/plus.png) 1px 1px no-repeat;
}

#eventedit .edit-alarm-buttons a.delete-alarm {
	background: url(images/delete.png) 1px 1px no-repeat;
}

#eventedit .edit-alarm-buttons a.delete-alarm,
#eventedit .first .edit-alarm-buttons a.add-alarm {
	display: inline-block;
}

#eventedit .first .edit-alarm-buttons a.delete-alarm {
	display: none;
}

#eventedit label.weekday,
#eventedit label.monthday {
	min-width: 3em;
}

#eventedit label.month {
	min-width: 5em;
}

#edit-recurrence-yearly-bymonthblock {
	margin-left: 7.5em;
}

#edit-recurrence-rdates {
	display: block;
	list-style: none;
	margin: 0 0 0.8em 0;
	padding: 0;
	max-height: 300px;
	overflow: auto;
}

#edit-recurrence-rdates li {
	display: block;
	position: relative;
	width: 14em;
	padding: 1px;
}

#edit-recurrence-rdates li a.delete {
	position: absolute;
	top: 1px;
	right: 0;
}

#eventedit .recurrence-form {
	display: none;
}

#eventedit .formtable td {
	padding: 0.2em 0;
}

.ui-dialog .event-update-confirm {
	padding: 0 0.5em 0.5em 0.5em;
}

.event-dialog-message,
.event-update-confirm .message {
	margin-top: 0.5em;
	padding: 0.8em;
	background-color: #F7FDCB;
	border: 1px solid #C2D071;
}

.event-dialog-message .message,
.event-update-confirm .message {
	margin-bottom: 0.5em;
}

.edit-recurring-warning .savemode {
	padding-left: 20px;
}

.event-update-confirm .savemode {
	padding-left: 30px;
}

.event-dialog-message span.ui-icon,
.event-update-confirm span.ui-icon {
	float: left;
	margin: 0 7px 20px 0;
}

.event-dialog-message label,
.event-update-confirm label {
	min-width: 3em;
	padding-right: 1em;
}

.event-update-confirm a.button {
	margin: 0 0.5em 0 0.2em;
	min-width: 5em;
}

#event-rsvp,
#edit-attendees-notify {
	margin: 0.3em 0;
	padding: 0.5em;
	background-color: #F7FDCB;
	border: 1px solid #C2D071;
}

.edit-attendees-table {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.edit-attendees-table th,
.edit-attendees-table td {
	padding: 3px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.edit-attendees-table th.role,
.edit-attendees-table td.role {
	width: 8em;
}

.edit-attendees-table th.availability,
.edit-attendees-table th.confirmstate,
.edit-attendees-table td.availability,
.edit-attendees-table td.confirmstate {
	width: 4em;
}

.edit-attendees-table th.options,
.edit-attendees-table td.options {
	width: 2em;
	text-align: right;
	padding-right: 4px;
}

.edit-attendees-table th.invite,
.edit-attendees-table td.invite {
	width: 24px;
	padding: 2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: hidden;
}

#eventedit .edit-attendees-table th.invite label {
	display: none;
}

.edit-attendees-table th.name,
.edit-attendees-table td.name {
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.edit-attendees-table thead th,
.edit-attendees-table thead td {
	background: url(images/listheader.gif) top left repeat-x #CCC;
}

#edit-attendees-form,
#edit-resources-form {
	position: relative;
	margin-top: 1em;
}

#edit-attendees-form #edit-attendee-schedule,
#edit-resources-form #edit-resource-find {
	position: absolute;
	top: 0;
	right: 0;
}

.edit-attendees-table select.edit-attendee-role {
	border: 0;
	padding: 2px;
	background: white;
}

.availability img.availabilityicon {
	margin: 1px;
	width: 14px;
	height: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.availability img.availabilityicon.loading {
	background: url(images/loading_blue.gif) center no-repeat;
}

#schedule-freebusy-times td.unknown,
.availability img.availabilityicon.unknown {
	background: #ddd;
}

#schedule-freebusy-times td.free,
.availability img.availabilityicon.free {
	background: #0c0;
}

#schedule-freebusy-times td.busy,
.availability img.availabilityicon.busy {
	background: #c00;
}

#schedule-freebusy-times td.tentative,
.availability img.availabilityicon.tentative {
	background: #66d;
}

#schedule-freebusy-times td.out-of-office,
.availability img.availabilityicon.out-of-office {
	background: #f0b400;
}

#schedule-freebusy-times td.all-busy,
#schedule-freebusy-times td.all-tentative,
#schedule-freebusy-times td.all-out-of-office {
	background-image: url(images/freebusy-colors.png);
	background-position: top right;
	background-repeat: no-repeat;
}

#schedule-freebusy-times td.all-tentative {
	background-position: right -40px;
}

#schedule-freebusy-times td.all-out-of-office {
	background-position: right -80px;
}

#edit-attendees-legend {
	margin-top: 3em;
	margin-bottom: 0.5em;
}

#edit-attendees-legend .legend {
	margin-right: 2em;
	white-space: nowrap;
}

#edit-attendees-legend img.availabilityicon {
	vertical-align: middle;
}

.edit-attendees-table tbody td.confirmstate {
	overflow: hidden;
	white-space: nowrap;
	text-indent: -2000%;
}

.edit-attendees-table td.confirmstate span {
	display: block;
	width: 20px;
	background: url(images/attendee-status.gif) 5px 0 no-repeat;
}

.edit-attendees-table td.confirmstate span.needs-action {
}

.edit-attendees-table td.confirmstate span.accepted {
	background-position: 5px -20px;
}

.edit-attendees-table td.confirmstate span.declined {
	background-position: 5px -40px;
}

.edit-attendees-table td.confirmstate span.tentative {
	background-position: 5px -60px;
}

.edit-attendees-table td.confirmstate span.delegated {
	background-position: 5px -180px;
}

#attendees-freebusy-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	margin: 0.5em 0;
}

#attendees-freebusy-table td.attendees {
	width: 18em;
	border: 1px solid #ccc;
	vertical-align: top;
	overflow: hidden;
}

#attendees-freebusy-table td.times {
	width: auto;
	vertical-align: top;
	border: 1px solid #ccc;
}

#attendees-freebusy-table div.scroll {
	position: relative;
	overflow: auto;
}

#attendees-freebusy-table h3.boxtitle {
	margin: 0;
	height: auto !important;
	border-color: #ccc;
}

.attendees-list .attendee {
	padding: 3px 4px 3px 1px;
	background: url(images/attendee-status.gif) 2px -97px no-repeat;
	white-space: nowrap;
}

.attendees-list a.attendee-role-toggle {
	display: inline-block;
	width: 16px;
	margin-right: 3px;
	cursor: pointer;
}

.attendees-list div.attendee {
	border-top: 1px solid #ccc;
}

.attendees-list span.attendee {
	padding-left: 20px;
	margin-right: 2em;
}

.attendees-list .organizer {
	background-position: 3px -77px;
}

.attendees-list .opt-participant {
	background-position: 2px -117px;
}

.attendees-list .non-participant {
	background-position: 2px -137px;
}

.attendees-list .chair {
	background-position: 2px -157px;
}

.attendees-list .loading {
	background: url(images/loading_blue.gif) 1px 50% no-repeat;
}

.attendees-list .total {
	background: none;
	padding-left: 4px;
	font-weight: bold;
}

.attendees-list .spacer,
#schedule-freebusy-times tr.spacer td {
	background: 0;
	font-size: 50%;
}

#schedule-freebusy-times {
	border-collapse: collapse;
	width: 100%;
}

#schedule-freebusy-times td {
	padding: 3px;
	border: 1px solid #ccc;
}

#schedule-freebusy-times tr.dates th {
	border-color: #aaa;
	border-style: solid;
	border-width: 0 1px 0 1px;
	white-space: nowrap;
}

#attendees-freebusy-table div.timesheader,
#schedule-freebusy-times tr.times td {
	min-width: 30px;
	font-size: 9px;
	padding: 5px 2px 6px 2px;
	text-align: center;
}

#schedule-freebusy-times tr.times td.allday {
	min-width: 60px;
}

#schedule-freebusy-times tr.times td {
	cursor: pointer;
}

#schedule-event-time {
	position: absolute;
	border: 2px solid #333;
	background: #777;
	background: rgba(60, 60, 60, 0.6);
	opacity: 0.5;
	border-radius: 4px;
	cursor: move;
	filter: alpha(opacity=40); /* IE8 */
}

#eventfreebusy .schedule-options {
	position: relative;
	margin-bottom: 1.5em;
}

#eventfreebusy .schedule-buttons {
	position: absolute;
	top: 0;
	right: 0;
}

#eventfreebusy .schedule-find-buttons {
	padding-bottom:0.5em;
}

#eventfreebusy .schedule-find-buttons button {
	min-width: 9em;
	text-align: center;
}

span.edit-alarm-set {
	white-space: nowrap;
}

a.dropdown-link {
	color: #CC0000;
	font-size: 12px;
	text-decoration: none;
}

a.dropdown-link:after {
	content: ' ▼';
	font-size: 11px;
	color: #666;
}

#eventedit .ui-tabs-panel {
	min-height: 20em;
}

.alarm-item {
	margin: 0.4em 0 1em 0;
}

.alarm-item .event-title {
	font-size: 14px;
	margin: 0.1em 0 0.3em 0;
}

.alarm-item div.event-section {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

.alarm-item .alarm-actions {
	margin-top: 0.4em;
}

.alarm-item div.alarm-actions a {
	color: #CC0000;
	margin-right: 0.8em;
	text-decoration: none;
}

a.alarm-action-snooze:after {
	content: ' ▼';
	font-size: 10px;
	color: #666;
}

#alarm-snooze-dropdown {
	z-index: 5000;
}

.ui-dialog-buttonset a.dropdown-link {
	margin-right: 1em;
}

.ui-datepicker-calendar .ui-datepicker-today .ui-state-default {
	border-color: #cccccc;
	background: #ffffcc;
	color: #000;
}

.ui-datepicker-calendar .ui-datepicker-week-col {
	text-align: right;
	padding-right: 0.5em;
}

.ui-datepicker th {
    padding: 0.3em 0;
    font-size: 10px;
}

.ui-datepicker td span,
.ui-datepicker td a {
	padding-left: 0.1em;
}

.ui-autocomplete {
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
	white-space: nowrap;
}

* html .ui-autocomplete {
	height: 160px;
}

span.spacer {
	padding-left: 3em;
}

#agendaoptions {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	z-index: 200;
	border: 1px solid #ccc;
	padding: 2px 5px 1px;
	font-size: 90%;
}

#agendaoptions label {
	color: #444;
	text-shadow: 1px 1px #eee;
	padding-right: 0.5em;
}

#calendar-kolabform {
	position: relative;
	padding-top: 24px;
	margin: 0 -8px;
	min-width: 660px;
	min-height: 400px;
}

#calendar-kolabform div.tabsbar {
	top: 0;
	right: 2px;
	left: 2px;
	height: 24px;
}

#calendar-kolabform fieldset.tabbed {
	background-color: #fff;
	margin-top: 0;
}

#calendar-kolabform span.tablink {
	background-color: #e8e8e9;
	background-image: -moz-linear-gradient(center top, #f4f4f4, #e6e6e6);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #f4f4f4), color-stop(1.0, #e6e6e6));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#f4f4f4, endColorstr=#e6e6e6, GradientType=0);
	height: 24px !important;
}

#calendar-kolabform span.tablink-selected {
	background: #fff;
	height: 25px !important;
}

#calendar-kolabform span.tablink a,
#calendar-kolabform span.tablink-selected a {
	background: none;
	border: 1px solid #AAAAAA;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 4px 10px 0 10px;
	margin-left: 0;
}

#calendar-kolabform table td.title {
  font-weight: bold;
  white-space: nowrap;
  color: #666;
  padding-right: 10px;
}

#resource-dialog-right {
	position: absolute;
	top: 10px;
	left: 300px;
	right: 8px;
	bottom: 10px;
}

#resource-info,
#resource-availability {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 48%;
	border: 1px solid #999;
	background-color: #F9F9F9;
	overflow: auto;
}

#resource-availability {
	top: auto;
	bottom: 0;
	height: 49%;
	overflow: hidden;
}

#resource-info .boxtitle,
#resource-availability .boxtitle {
	margin-top: 0;
}

#resource-freebusy-calendar {
	position: absolute;
	top: 20px;
	left: -1px;
	right: -1px;
	bottom: -1px;
}

#resource-freebusy-calendar .fc-content {
	top: 0;
}

#resource-freebusy-calendar .fc-content .fc-event-bg {
	background: 0;
}

#resource-freebusy-calendar .fc-event.status-busy,
#resource-freebusy-calendar .status-busy .fc-event-skin {
	border-color: #e26569;
	background-color: #e26569;
}

#resource-freebusy-calendar .fc-event.status-tentative,
#resource-freebusy-calendar .status-tentative .fc-event-skin {
	border-color: #8383fc;
	background: #8383fc;
}

#resource-freebusy-calendar .fc-event.status-outofoffice,
#resource-freebusy-calendar .status-outofoffice .fc-event-skin {
	border-color: #fbaa68;
	background: #fbaa68;
}

#resources-list div.treetoggle {
	left: 3px !important;
	top: -2px;
}

#resources-list li ul div.treetoggle {
	left: 23px !important;
}

#resource-selection {
  position: absolute;
	top: 10px;
	bottom: 10px;
	left: 8px;
	width: 280px;
	border: 1px solid #999999;
	background-color: #F9F9F9;
	overflow: hidden;
}

#resource-selection .boxlistcontent {
	top: 25px;
	border-top: 1px solid #eee;
}

#resourcequicksearch {
	position: absolute;
	top: 3px;
	left: 7px;
	right: 4px;
	height: 17px;
	background: #fff;
	border: 1px solid #888;
	border-radius: 10px;
	-webkit-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

#resourcesearchbox {
	position: absolute;
	top: 1px;
	left: 24px;
	width: 140px;
	height: 15px;
	font-size: 11px;
	padding: 0px;
	border: none;
	outline: none;
	background: #fff;
}

#resourcesearchreset {
	position: absolute;
	top: 2px;
	right: 2px;
	text-decoration: none;
}

#resource-details,
#resource-details-owner {
	margin: 8px;
}

#resource-details td.title,
#resource-details-owner td.title {
	color: #666;
	padding-right: 10px;
	min-width: 10em;
}

#resource-details-owner thead td {
	color: #333;
	font-size: 13px;
	font-weight: bold;
}

/* fullcalendar style overrides */

#calendar .fc-header-right {
	padding-right: 200px;
	padding-top: 0;
}

.rcube-fc-content {
	position: absolute !important;
	top: 38px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.fc-event-title {
	font-weight: bold;
}

.cal-event-status-cancelled .fc-event-title {
	text-decoration: line-through;
}

.fc-event-hori .fc-event-title {
	font-weight: normal;
	white-space: nowrap;
}

.fc-event-hori .fc-event-time {
	white-space: nowrap;
	font-weight: normal !important;
	font-size: 10px;
	padding-right: 0.6em;
}

.fc-event-vert.fc-invitation-needs-action,
.fc-event-hori.fc-invitation-needs-action {
	border: 1px dashed #5757c7 !important;
}

.fc-event-vert.fc-invitation-tentative,
.fc-event-hori.fc-invitation-tentative {
	border: 1px dashed #eb8900 !important;
}

.fc-event-vert.fc-invitation-declined,
.fc-event-hori.fc-invitation-declined {
	border: 1px dashed #c00 !important;
}

.fc-grid .fc-event-time {
	font-weight: normal !important;
	padding-right: 0.3em;
}

.fc-event-cateories {
	font-style:italic; 
}

.fc-event-location {
	font-size: 90%;
}

.fc-more-link {
	color: #999;
	padding-top: 1px;
	cursor: pointer;
}

.fc-agenda-slots td div {
	height: 22px;
}

.fc-mon, .fc-tue, .fc-wed, .fc-thu, .fc-fri {
	background-color: #fdfdfd;
}

.fc-widget-header {
	background-color: #fff;
}

.fc-icon-alarms,
.fc-icon-sensitive,
.fc-icon-recurring {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(images/eventicons.gif) 0 0 no-repeat;
	margin-left: 3px;
	line-height: 10px;
}

.fc-icon-alarms {
	background-position: 0 -13px;
}

.fc-icon-sensitive {
	background-position: 0 -25px;
}

.fc-list-section .fc-event {
	cursor: pointer;
}

#calendar .fc-event-vert .fc-event-head,
#calendar .fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
}

.fc-view-list div.fc-list-header,
.fc-view-table td.fc-list-header,
.edit-attendees-table thead td {
	padding: 3px;
	background: #dddddd;
	background-image: -moz-linear-gradient(center top, #f4f4f4, #d2d2d2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #f4f4f4), color-stop(1.00, #d2d2d2));
	filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#f4f4f4, endColorstr=#d2d2d2, GradientType=0);
	font-weight: bold;
	color: #333;
}

.fc-view-list .fc-event-skin .fc-event-content {
	background: #F6F6F6;
	padding: 2px;
}

.fc-view-list .fc-event-skin .fc-event-title,
.fc-view-list .fc-event-skin .fc-event-location {
	color: #333;
}

.fc-view-table table.fc-list-smart {
	table-layout: auto;
}

.fc-listappend {
	text-align: center;
	margin: 1em 0;
}

.fc-listappend .message {
	padding: 0.5em;
	margin-bottom: 0.5em;
	font-size: 150%;
	color: #999;
}

.fc-listappend .formlinks a {
	font-size: 12px;
	padding: 0 0.3em;
}

.fc-event-temp {
	opacity: 0.4;
	filter: alpha(opacity=40); /* IE8 */
}

/* Settings section */

fieldset #calendarcategories div {
	margin-bottom: 0.3em;
}

/* Invitation UI in mail */

.messagelist tbody .attachment span.ical {
	display: inline-block;
	vertical-align: middle;
	height: 18px;
	width: 20px;
	padding: 0;
	background: url(images/calendar-small.png) 1px 1px no-repeat;
}

#messagemenu li a.calendarlink,
#attachmentmenu li a.calendarlink {
	background-image: url(images/calendars.png);
	background-position: 7px -109px;
	background-repeat: no-repeat;
}

div.calendar-invitebox {
	min-height: 20px;
	margin: 5px 8px;
	padding: 3px 6px 6px 34px;
	border: 1px solid #C2D071;
	background: url(images/calendar.png) 6px 5px no-repeat #F7FDCB;
}

div.calendar-invitebox td.ititle {
	font-weight: bold;
	padding-right: 0.5em;
}

div.calendar-invitebox td.label {
	color: #666;
	padding-right: 1em;
}

#event-rsvp .rsvp-buttons,
div.calendar-invitebox .itip-buttons div {
	margin-top: 0.5em;
}

#event-rsvp input.button,
div.calendar-invitebox input.button,
div.calendar-invitebox select {
	font-size: 11px;
	margin-right: 0.5em;
}

div.calendar-invitebox .folder-select {
	font-size: 11px;
	margin-left: 1em;
}

div.calendar-invitebox .rsvp-status.loading {
	color: #666;
	padding: 1px 0 2px 24px;
	background: url(images/loading_blue.gif) top left no-repeat;
}

div.calendar-invitebox .rsvp-status.declined,
div.calendar-invitebox .rsvp-status.tentative,
div.calendar-invitebox .rsvp-status.delegated,
div.calendar-invitebox .rsvp-status.accepted {
	padding: 0 0 1px 22px;
	background: url(images/attendee-status.gif) 2px -20px no-repeat;
}

div.calendar-invitebox .rsvp-status.declined {
	background-position: 2px -40px;
}

div.calendar-invitebox .rsvp-status.tentative {
	background-position: 2px -60px;
}

div.calendar-invitebox .rsvp-status.delegated {
	background-position: 2px -180px;
}

div.calendar-invitebox .calendar-agenda-preview {
	display: none;
	border-top: 1px solid #dfdfdf;
	margin-top: 1em;
	padding-top: 0.6em;
}

div.calendar-invitebox .calendar-agenda-preview h3.preview-title {
	margin: 0 0 0.5em 0;
	font-size: 12px;
}

div.calendar-invitebox .calendar-agenda-preview .event-row {
	color: #777;
	padding: 2px 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.calendar-invitebox .calendar-agenda-preview .event-row.current {
	color: #000;
	font-weight: bold;
}

div.calendar-invitebox .calendar-agenda-preview .event-row.no-event {
	font-style: italic;
}

div.calendar-invitebox .calendar-agenda-preview .event-date {
	display: inline-block;
	min-width: 8em;
	margin-right: 1em;
	white-space: nowrap;
}

/* iTIP attend reply page */

.calendaritipattend .centerbox {
	width: 40em;
	margin: 80px auto;
	padding: 10px 10px 10px 90px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 24px #ccc;
	-moz-box-shadow: 1px 1px 18px #ccc;
	-webkit-box-shadow: #ccc 1px 1px 18px;
	background: url(images/invitation.png) 10px 10px no-repeat #fbfbfb;
}

.calendaritipattend .calendar-invitebox {
	background: none;
	padding-left: 0;
	border: 0;
	margin: 0 0 2em 0;
}

.calendaritipattend .calendar-invitebox .rsvp-status {
	margin-top: 2.5em;
	font-size: 110%;
	font-weight: bold;
}

.calendaritipattend .calendar-invitebox td.title,
.calendaritipattend .calendar-invitebox td.ititle {
	font-size: 120%;
}

