<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="/includes/links.html" />
<script type="text/javascript" src="/functions.js"></script>
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="plugins/calendar/skins/classic/iehacks.css" /><![endif]-->
</head>
<roundcube:if condition="env:extwin" /><body class="calendarmain extwin"><roundcube:else /><body class="calendarmain"><roundcube:endif />

<roundcube:include file="/includes/taskbar.html" />
<roundcube:include file="/includes/header.html" />

<div id="main">
  <div id="calendarsidebar">
    <div id="calendartoolbar">
      <roundcube:button command="addevent" type="link" class="buttonPas addevent" classAct="button addevent" classSel="button addeventSel" title="calendar.new_event" content=" " />
      <roundcube:button command="print" type="link" class="buttonPas print" classAct="button print" classSel="button printSel" title="calendar.print" content=" " />
      <roundcube:button command="events-import" type="link" class="buttonPas import" classAct="button import" classSel="button importSel" title="calendar.importevents" content=" " />
      <roundcube:button command="export" type="link" class="buttonPas export" classAct="button export" classSel="button exportSel" title="calendar.export" content=" " />
      <roundcube:container name="toolbar" id="calendartoolbar" />
    </div>

    <div id="datepicker"></div>
    <div id="calendars" style="visibility:hidden">
      <div class="boxtitle"><roundcube:label name="calendar.calendars" /></div>
      <div class="listsearchbox">
        <div class="searchbox">
          <input type="text" name="q" id="calendarlistsearch" placeholder="<roundcube:label name='calendar.findcalendars' />" />
          <a class="iconbutton searchicon"></a>
          <roundcube:button command="reset-listsearch" id="calendarlistsearch-reset" class="reset searchreset" title="resetsearch" content="x" />
        </div>
      </div>
      <div class="boxlistcontent">
      <roundcube:object name="plugin.calendar_list" id="calendarslist" class="treelist" />
      </div>
      <div class="boxfooter">
        <roundcube:button command="calendar-create" type="link" title="calendar.createcalendar" class="buttonPas addgroup" classAct="button addgroup" content=" " />
        <roundcube:button name="calendaroptionslink" id="calendaroptionslink" type="link" title="moreactions" class="button groupactions" onclick="rcmail_ui.show_popup('calendaroptions');return false" content=" " />
      </div>
    </div>
  </div>
  <div id="calendarsidebartoggle"></div>
  <div id="calendar">
    <roundcube:object name="plugin.angenda_options" class="boxfooter" id="agendaoptions" />
  </div>
</div>

<div id="calendaroptionsmenu" class="popupmenu">
  <ul>
    <li><roundcube:button command="calendar-edit" label="calendar.edit" classAct="active" /></li>
    <li><roundcube:button command="calendar-delete" label="delete" classAct="active" /></li>
    <roundcube:if condition="env:calendar_driver == 'kolab'" />
    <li><roundcube:button command="calendar-remove" label="calendar.remove" classAct="active" /></li>
    <roundcube:endif />
    <li><roundcube:button command="calendar-showurl" label="calendar.showurl" classAct="active" /></li>
    <roundcube:if condition="env:calendar_driver == 'kolab'" />
    <li class="separator_above"><roundcube:button command="folders" task="settings" type="link" label="managefolders" classAct="active" /></li>
    <roundcube:endif />
  </ul>
</div>

<div id="eventshow" class="uidialog">
  <h1 id="event-title">Event Title</h1>
  <div class="event-section" id="event-location">Location</div>
  <div class="event-section" id="event-date">From-To</div>
  <div class="event-section" id="event-description">
    <h5 class="label"><roundcube:label name="calendar.description" /></h5>
    <div class="event-text"></div>
  </div>
  <div class="event-section" id="event-url">
    <h5 class="label"><roundcube:label name="calendar.url" /></h5>
    <div class="event-text"></div>
  </div>
  <div class="event-section" id="event-repeat">
    <h5 class="label"><roundcube:label name="calendar.repeat" /></h5>
    <div class="event-text"></div>
  </div>
  <div class="event-section" id="event-alarm">
    <h5 class="label"><roundcube:label name="calendar.alarms" /></h5>
    <div class="event-text"></div>
  </div>
  <div class="event-section event-attendees" id="event-attendees">
    <h5 class="label"><roundcube:label name="calendar.tabattendees" /></h5>
    <div class="event-text"></div>
  </div>
  <div class="event-line" id="event-partstat">
    <label><roundcube:label name="calendar.mystatus" /></label>
    <a href="#change" class="changersvp" title="<roundcube:label name='calendar.changepartstat' />">
      <span class="event-text"></span>
    </a>
  </div>
  <div class="event-line" id="event-calendar">
    <label><roundcube:label name="calendar.calendar" /></label>
    <span class="event-text">Default</span>
  </div>
  <div class="event-line" id="event-category">
    <label><roundcube:label name="calendar.category" /></label>
    <span class="event-text"></span>
  </div>
  <div class="event-line" id="event-free-busy">
    <label><roundcube:label name="calendar.freebusy" /></label>
    <span class="event-text"></span>
  </div>
  <div class="event-line" id="event-priority">
    <label><roundcube:label name="calendar.priority" /></label>
    <span class="event-text"></span>
  </div>
  <div class="event-line" id="event-sensitivity">
    <label><roundcube:label name="calendar.sensitivity" /></label>
    <span class="event-text"></span>
  </div>
  <div class="event-section" id="event-attachments">
    <label><roundcube:label name="attachments" /></label>
    <div class="event-text attachments-list"></div>
  </div>
  
  <roundcube:object name="plugin.event_rsvp_buttons" id="event-rsvp" style="display:none" />
</div>

<div id="eventoptionsmenu" class="popupmenu">
  <ul>
    <li><roundcube:button command="event-download" label="download" classAct="active" /></li>
    <li><roundcube:button command="event-sendbymail" label="send" classAct="active" /></li>
  </ul>
</div>

<roundcube:include file="/templates/eventedit.html" />

<div id="eventresourcesdialog" class="uidialog">
  <div id="resource-dialog-left">
    <div id="resource-selection" class="">
      <div id="resourcequicksearch">
        <roundcube:object name="plugin.resources_searchform" id="resourcesearchbox" />
        <roundcube:button command="reset-resource-search" id="resourcesearchreset" image="/images/icons/reset.gif" title="resetsearch" width="13" height="13" />
      </div>
      <div class="boxlistcontent">
        <roundcube:object name="plugin.resources_list" id="resources-list" class="treelist" />
      </div>
    </div>
  </div>

  <div id="resource-dialog-right">
    <div id="resource-info">
      <h2 class="boxtitle"><roundcube:label name="calendar.resourcedetails" /></h2>
      <roundcube:object name="plugin.resource_info" id="resource-details" />
    </div>

    <div id="resource-availability">
      <h2 class="boxtitle"><roundcube:label name="calendar.resourceavailability" /></h2>
      <roundcube:object name="plugin.resource_calendar" id="resource-freebusy-calendar" />
    </div>
  </div>
</div>

<div id="eventfreebusy" class="uidialog">
  <roundcube:object name="plugin.attendees_freebusy_table" id="attendees-freebusy-table" cellspacing="0" cellpadding="0" border="0" />
  
  <div class="schedule-options">
    &nbsp;
    <div class="schedule-buttons">
      <button id="shedule-freebusy-prev" title="<roundcube:label name='previouspage' />">&#9668;</button><button id="shedule-freebusy-next" title="<roundcube:label name='nextpage' />">&#9658;</button>
    </div>
  </div>
  
  <div style="float:left; width:28em">
    <div class="form-section">
      <label for="schedule-startdate"><roundcube:label name="calendar.start" /></label>
      <input type="text" name="startdate" size="11" id="schedule-startdate" disabled="true" /> &nbsp;
      <input type="text" name="starttime" size="6" id="schedule-starttime" disabled="true" />
    </div>
    <div class="form-section">
      <label for="schedule-enddate"><roundcube:label name="calendar.end" /></label>
      <input type="text" name="enddate" size="11" id="schedule-enddate" disabled="true" /> &nbsp;
      <input type="text" name="endtime" size="6"  id="schedule-endtime" disabled="true" />
    </div>
  </div>
  <div style="float:left">
    <div class="schedule-find-buttons">
      <button id="shedule-find-prev">&#9668; <roundcube:label name="calendar.prevslot" /></button>
      <button id="shedule-find-next"><roundcube:label name="calendar.nextslot" /> &#9658;</button>
    </div>
    <div class="schedule-options">
      <label><input type="checkbox" id="schedule-freebusy-workinghours" value="1" /><roundcube:label name="calendar.onlyworkinghours" /></label>
    </div>
  </div>
  <br style="clear:both;" />
  
  <roundcube:include file="/templates/freebusylegend.html" />
  <div class="attendees-list">
    <span class="attendee organizer"><roundcube:label name="calendar.roleorganizer" /></span>
    <span class="attendee req-participant"><roundcube:label name="calendar.rolerequired" /></span>
    <span class="attendee opt-participant"><roundcube:label name="calendar.roleoptional" /></span>
    <span class="attendee non-participant"><roundcube:label name="calendar.rolenonparticipant" /></span>
    <span class="attendee chair"><roundcube:label name="calendar.rolechair" /></span>
  </div>
</div>

<div id="calendarform" class="uidialog">
  <roundcube:label name="loading" />
</div>

<div id="eventsimport" class="uidialog">
  <roundcube:object name="plugin.events_import_form" id="events-import-form" uploadFieldSize="30" />
</div>

<div id="eventsexport" class="uidialog">
  <roundcube:object name="plugin.events_export_form" id="events-export-form" />
</div>

<div id="calendarurlbox" class="uidialog">
  <p><roundcube:label name="calendar.showurldescription" /></p>
  <textarea id="calfeedurl" rows="2" readonly="readonly"></textarea>
  <div id="calendarcaldavurl" style="display:none">
    <p><roundcube:label name="calendar.caldavurldescription" html="yes" /></p>
    <textarea id="caldavurl" rows="2" readonly="readonly"></textarea>
  </div>
</div>

<div id="quicksearchbar">
<roundcube:button name="searchmenulink" id="searchmenulink" image="/images/icons/glass.png" />
<roundcube:object name="plugin.searchform" id="quicksearchbox" />
<roundcube:button command="reset-search" id="searchreset" image="/images/icons/reset.gif" title="resetsearch" />
</div>

<roundcube:object name="plugin.calendar_css" />

<script type="text/javascript">

// use skin functions to handle popup-menus
rcube_init_mail_ui();
rcmail_ui.popups.calendaroptions = { id:'calendaroptionsmenu', above:1, obj:$('#calendaroptionsmenu') };

$(document).ready(function(e){
  // initialize sidebar toggle
  $('#calendarsidebartoggle').click(function() {
    var width = $(this).data('sidebarwidth');
    var offset = $(this).data('offset');
    var $sidebar = $('#calendarsidebar'), time = 250;
    
    if ($sidebar.is(':visible')) {
      $sidebar.animate({ left:'-'+(width+10)+'px' }, time, function(){ $('#calendarsidebar').hide(); });
      $(this).animate({ left:'8px'}, time, function(){ $('#calendarsidebartoggle').addClass('sidebarclosed') });
      $('#calendar').animate({ left:'20px'}, time, function(){ $(this).fullCalendar('render'); });
    }
    else {
      $sidebar.show().animate({ left:'10px' }, time);
      $(this).animate({ left:offset+'px'}, time, function(){ $('#calendarsidebartoggle').removeClass('sidebarclosed'); });
      $('#calendar').animate({ left:(width+16)+'px'}, time, function(){ $(this).fullCalendar('render'); });
    }
  })
  .data('offset', $('#calendarsidebartoggle').position().left)
  .data('sidebarwidth', $('#calendarsidebar').width() + $('#calendarsidebar').position().left);
});

</script>

</body>
</html>
